body {
    overflow: hidden;
}

#bubbles {
    /* height: 100vh;
    width: 100vw; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -10px;
    animation: move 2s ease-in forwards;
}


@keyframes move {
    to {
        transform: scale(10, 10) translateY(-20vh);
        filter: hue-rotate(400deg);
    }
}